<%- layout('./layouts/boilerplate') %>
    <div id="show-page-div">
        <h1 id="camp-title-show">
            <%= camp.title %>
        </h1>
        <h3 id="location-show">Location:
            <%= camp.location %>
        </h3>
        <img src="<%= camp.image %>" alt="" id="campground-img">
        <p id="description-show">Description:
            <%= camp.description %>
        </p>
        <p id="price-show">Price:
            <%= camp.price %>
        </p>
        <div id="buttons-show">
            <a href="/campgrounds" id="all-campground-btn-show-link"><button id="all-campground-btn-show" class="all-campground-btn common-btn-style" >All Campgrounds</button></a>
            <form action="/campgrounds/<%= camp._id %>?_method=DELETE" method="post">
                <button id="delete-campground-btn" class="common-btn-style">Delete this Campground</button>
            </form>
            <a href="/campgrounds/<%= camp._id %>/edit" id="edit-btn-show-link"><button id="edit-btn-show" class="common-btn-style">Edit this campground</button></a>
        </div>

        <div>
            <h3>Leave a Review</h3>
            <form action="/campgrounds/<%= camp._id %>/reviews" method="POST" class="mb-3 validate-form" novalidate>
                <div class="mb-3">
                    <label for="rating" class="form-label">Rating</label>
                    <input type="range" name="review[rating]" class="form-range" id="rating" min="1" max="5">
                </div>
                <div class="mb-3">
                    <label for="body" class="form-label">Review</label>
                    <textarea name="review[body]" class="form-control" id="body" cols="30" rows="4" required></textarea>
                </div>
                <button class="btn btn-success">Submit</button>
            </form>
        </div>

        <% for (let review of camp.reviews){ %>
         <div>
             <p>Rating: <%= review.rating %></p>
             <p>Review: <%= review.body %></p>
             <form action="/campgrounds/<%= camp._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                <button class="btn btn-sm btn-danger">Delete</button>
            </form>
         </div>
        <% } %>
    </div>